@font-face {
    font-family: 'textos';
    src: url('font/A_DAY_WITHOUT_SUN.otf') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'titulo';
    src: url('font/bobby_jones_soft_condensed.otf') format('woff');
   font-weight: normal;
   font-style: normal;
}

/* Definición de la animación vertical infinita */
@keyframes slide-vertical {
    0% {
        transform: translateY(-100%); /* Empieza fuera de la pantalla arriba */
    }
    50% {
        transform: translateY(100%); /* Mueve la imagen hacia fuera de la pantalla abajo */
    }
    100% {
        transform: translateY(-100%); /* Regresa a la posición inicial */
    }
 }
/* Estilos de la sección de animación vertical */
.horizontal-animation {
    overflow: hidden;
    background-color: #000;
    padding: 0; /* Sin espacio alrededor para que ocupe toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ocupa toda la altura de la pantalla */
}

.animated-image {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: outo; /* Ajusta la altura a 70% de la pantalla */
    animation: slide-vertical 30s linear infinite; /* Animación en sentido vertical */
}


body {
    flex-wrap: wrap;
    font-family: 'textos';
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}
h1, h2 {
    font-family: 'titulo';
    text-align: center;
}

header { /* empieza el Header */
    display: flex;
    justify-content: space-between;
    background-color: #6a0dad;
    text-align: center;
    position: relative;
    font-size: 40px;
}
header h1 {
    margin: 0;
}
header img {
    width: 300px;
    padding: 20px;
    border-radius: 50%;
}
.logo {
  display: flex;
  align-items: center;  
}
nav {
    margin-top: 1em;
}
nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li.cart {
    position: relative;
}
nav ul li.cart a {
    display: flex;
    align-items: center;
}
.content P{
    display: block;
    text-align: center;
    padding: 0px 50px;
    font-size: 40px; 
}
.carousel-container { /* Estilos del Carrusel */
    position: relative;
    max-width: 80%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    border: 5px solid #6a0dad; /* Borde morado */
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 6); /* Cambia según el número de imágenes */
}
.content { /* Contenedor con moldura */
    border: 15px solid #6a0dad;
    padding: 20px;
    max-width: 80%; /* Ocupa el 80% de la pantalla */
    margin: 20px auto; 
}
.carousel-slide img {
    width: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.carousel-slide img:hover {/* Efecto de zoom al pasar el ratón */
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}
.prev, .next {/* Botones de control del carrusel */
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
section {/* Sección del artista */
    display: flex;
    flex-direction: column;
}
.artista-section {
    padding: 2em;
    text-align: center;
}
.artista-item {
    margin: 1em;
}
.artista p{
    display: block;
    text-align: justify;
    padding: 20px 50px;
    font-size: 50px;
}
.artista {
    display: flex;
    flex-direction: row;
}
.foto_artista {
    display: flex;
    flex-direction: column;
}
.artista-item img {
    padding: 5px;
    width: 250px;
    height: 250px;
    border: 2px solid #6a0dad;
}
.banner {/* Sección del banner */
    display: flex;
    align-items: center;
    padding: 40px;
}
.banner p{
    font-size: 50px;
    margin: 0;
}
.primero {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
}
.banner h2 {
    align-items: center;
    font-size: 50px;
}
.segundo {
    display: flex;
    margin: 20px 0;
}
.color {
    color: #6a0dad;
}
.banner img {
    width: 500px;
    height: 350px;
    margin: 0 20px;
}

.formulario { /* empieza el formulario */
    display: flex;
    background-image: url(img/obra3.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 50%;
    width: 100%;  
}
.form-container {
    min-height: 20px; /* Altura mínima ajustable */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Color negro con transparencia */
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    color: #ffffff;
 }
.form-input input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
} 
.submit-button {
    background-color: #560077;
    color: #FFFFFF;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-button:hover {
    background-color: #7200a1;
}

footer { /* empieza el Footer */
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: #6a0dad;
    color: #fff;
    padding: 1em;
    text-align: center;
    flex-direction: column;
    font-size: 40px;
}
footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    flex-direction: column;
}
.shop-section { /* Estilos de la sección de Tienda */
    padding: 2em;
    text-align: center;
}
.shop-items {
    display: grid; /* Cambiado a grid */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 1em; /* Espacio entre las tarjetas */
}

.shop-item {
    background-color: #333; /* Fondo oscuro para los elementos de la tienda */
    border: 2px solid #6a0dad; /* Borde morado */
    border-radius: 8px; /* Bordes redondeados */
    padding: 1em;
    transition: transform 0.3s ease; /* Transición suave para el hover */
}
.shop-item img {
    width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}
.shop-item h3 {
    margin: 0.5em 0;
}
.shop-item button {
    background-color: #6a0dad; /* Botón morado */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
}
.shop-item button:hover {
    background-color: #6a0dad; /* Cambio de color al pasar el ratón */
}
/* Efecto de zoom en los elementos de la tienda */
.shop-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al 105% */
}
#back-to-top {
    position: fixed; /* Posiciona el enlace de forma fija */
    bottom: 20px; /* Distancia desde el fondo de la pantalla */
    right: 20px; /* Distancia desde el lado derecho de la pantalla */
    padding: 5px 10px; /* Espaciado interno */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border: 2px solid #6a0dad; /* Borde morado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: block; /* Muestra el enlace como bloque */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
    }
#back-to-top:hover {
    background-color: #7200a1; /* Color más oscuro al pasar el ratón */
}
  